* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    background-image: url("../images/fondo.jpg");
    background-position: center center;
    background-size: cover;
  }

  .warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #E61E53;
    padding-top: 20px;
  }
  
  .form {
    width: 400px;
    background: #033c97;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }
  
  .form h4 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .form h5 {
    font-size: 16;
    margin-bottom: 3px;
  }
  
  .controls {
    width: 100%;
    background: #2f373e;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color:white;
  }
  
  .form p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form a {
    color: white;
    text-decoration: none;
  }
  
  .form a:hover {
    color: red;
    text-decoration: underline;
  }
  
  .form .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

  }

  .botons:hover {
    box-shadow: 0 12px 16px 0 rgba(6, 0, 30, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #E61E53;
    color: white;
    border-radius: 5px;
  }


  

